<%= nav_dashboard current_user.rol %>
<p id="notice" class=""><%= notice %></p>


<div class="container">

<%= link_to 'Agregar administrador de campaña',  admin_create_path , class:"btn btn-block btn-outline-primary mb-5" %>

<%= form_with url: '/admin/index', local: true, method: :get  do |form| %>
    <div class="input-group mb-3">
        <div class="input-group">
            <input placeholder="Buscar" class="form-control buscador" type="text" name="q" id="q" value="<%=params[:q]%>">
            <a class="btn bg-transparent" href="/admin/index"  style="margin-left: -40px; z-index: 100;">
              <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
<%end%>


  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
              <th scope="col">Correo</th>
              <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>

          <tr>
              <th scope="row"><%= admin.email %></th>
              <th scope="row">
                <%= link_to "Editar", "/admin/edit/#{admin.id}" %>
              </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>          
  </div>          
</div>          

<script>
  var options = {
    url: () =>{
      return "/admin/index.json?q="+$("#q").val()
    },
    getValue: "email",
    list:{
      onChooseEvent: function(){
        location.href ="/admin/index?q="+$("#q").val();
      }
    },
    size: '720px'
  };

  $("#q").easyAutocomplete(options);
</script>