
<div class="card" style="margin:5rem 0;">
  <div class="card-body">
    <%= form_with(model: campaign) do |form| %>
      <% if campaign.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

          <ul>
            <% campaign.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= form.label "Nombre" %>
        <%= form.text_field :name, class: "form-control"%>
      </div>

      <div class="field form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="field form-group d-none">
        <%= form.label :user_id %>
        <%= form.number_field :user_id, value: current_user.id%>
      </div>

      <div class="form-group">
        <%= form.label :image, 'Elige una imagen.', class: 'btn btn-block btn-primary'%>
        <%= form.file_field :image, class: 'd-none', onchange: 'preview_image(event)' %>
          <img id="output_image", class="mx-auto d-block mt-3 mw-100"/>
      </div>

      <div class="actions">
        <%= form.submit 'Aceptar', :class => 'btn btn-block btn-outline-primary' %>
      </div>
    <% end %>
  </div>
</div>      

<script>

    // ver imagen
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function(){
        var output = document.getElementById('output_image');
        output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>