<%= nav_dashboard current_user.rol %>
<p id="notice"><%= notice %></p>

<div class="container">
  <%= link_to 'Agregar campaña', new_campaign_path, class:"btn btn-block btn-outline-primary mb-5" %>

  <div class="row-grid">
      <% @campaigns.each do |campaign| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= campaign.name %></h5>
            <p class="card-text"><%= campaign.description %></p>
            <div class="">
              <%= link_to 'Ver', campaign, class:"card-link" %>
              <%= link_to 'Editar', edit_campaign_path(campaign), class:"card-link" %>
              <%= link_to 'Borrar', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  
  <%= will_paginate @campaigns, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>

  <br>

</div>